<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>丛林闲居-App下载</title>
    <link rel="stylesheet" href="/style/cy.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<iframe src="head.html" scrolling="no" width="100%" height="160px" frameborder="0"></iframe>
<!--首页轮播图-->
<div class="index-lbt">
    <div id="scrollPics">
        <ul class="slider">
            <li><img src="/images/lbt1.jpg" class="lower"/></li>
            <li><img src="/images/lbt2.jpg"/></li>
            <li><img src="/images/lbt1.jpg"/></li>
            <li><img src="/images/lbt2.jpg"/></li>
            <li><img src="/images/lbt1.jpg"/></li>
        </ul>
        <ul class="num">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<div class="appxz">
    <!--以后要根据客户的地址来换，现在只是写死了-->
    <a href="/http://117.169.17.224:8080/clxjBack/apk/orderclxj.apk">
        <div class="dfkhd hours">
            <p></p>
            <span>订房客户端下载 </span>
        </div>
    </a>
    <a href="/http://117.169.17.224:8080/clxjBack/apk/clxj.apk">
        <div class="dfkhd car">
            <p></p>
            <span>丛林/闲居管理者下载 </span>
        </div>
    </a>
    <a href="/http://117.169.17.224:8080/clxjBack/apk/car.apk">
        <div class="dfkhd taxi">
            <p></p>
            <span>司机用车APP下载</span>
        </div>
    </a>
    <div class="xxyx">
        <p class="titt">三款APP的各大优势</p>
        <p>快速高效地发布与浏览信息：智能手机携带方便操作简单的特点，使得用户摆脱了PC端时空上的限制和繁琐的操作，实现掌上操作，便捷高效。
            所有企业可随时随地可发布最新产品信息，建立企业产品大全，企业目录，在线解答客户疑问。而客户可以随时随地搜寻产品信息，查阅商家资料,展会信息等。
            便捷的功能设计，满足企业宣传推广和客户搜寻产品的不同需求，极具人性化。</p>
        <p>在线互动交流功能：以客户需求为中心的设计体验，通过设立“知道”模式互动知识平台，特邀行业专家提供在线咨询与技术指导，帮助企业解决制造与加工技术难题，
            专家在线探讨行业发展，为企业决策提供智力支持。</p>
    </div>
</div>

<!--<%@ include  file="bottom.jsp"%>-->
<iframe src="bottom.html" scrolling="no" width="100%" height="368px" frameborder="0"></iframe>


<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>