<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>丛林闲居-丛林-列表页</title>
    <link rel="stylesheet" href="/style/cy.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/js/laydate.js"></script>
    <link rel="stylesheet" href="/style/laydate.css">
    <link rel="stylesheet" href="/js/molv/laydate.css">
     <script src="/js/jquery.min.js"></script>
    <!--<script type='text/javascript' src='js/citylist.js'></script>-->
    <script type='text/javascript' src="/js/querycity1.js"></script>
    <link href="/style/cityquery.css" rel="stylesheet" type="text/css" />

    <!--layUI-->
    <script type='text/javascript' src='/layui/layui.all.js'></script>
    <link href='/layui/css/layui.css' rel="stylesheet" type="text/css" />
<style type="text/css">
    #pop_city_whs1 {
        width: auto;
    }
</style>
</head>
<body>
<!-- <jsp:include  page="head.jsp" />    -->
<header id="header" th:replace="/front_desk/head::html"></header>

<!--首页轮播图-->
<div class="index-lbt">
    <div id="scrollPics">
        <ul class="slider">
             <li><img src="/images/lbt1.jpg" class="lower" width="100%" height="380px"/>
            </li>
            <li><img src="/images/lbt2.jpg" width="100%" height="380px"/></li>
            <li><img src="/images/lbt1.jpg" width="100%" height="380px"/></li>
            <li><img src="/images/lbt2.jpg" width="100%" height="380px"/></li>
            <li><img src="/images/lbt3.png" width="100%" height="380px"/></li>
        </ul> 
        <ul class="num">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
     <div class="nested">

    <!--  -->
    <div class="gjcl" style="height: 200px;">
            <div class="lbttj">
                <div class="tj-top">
                    <span class="gnxjac">国内外丛林</span> <span>国内丛林</span><span  >国际丛林</span>
                </div>
                <div class="tj-bottom">
                <div  class="xj"  >
                    <form action="#" method="post" onsubmit="return false;">
                        <table>
                            <tr>
                                <td>目的地</td>
                                <td class="sec"><input type="text" id="whs1" data-wholename="" ></td>
                                <input type="hidden" name="clxjmain.belong_city" id="city11"/>
                                <input type="hidden" name="clxjmain.type1" value="true"/>
                                <input type="hidden" name="clxjmain.type2" value="true"/>
                            </tr>
                           <!-- <tr>
                                <td>入住</td>
                                <td><p><input name="startTime" class="laydate-icon" id="demo1"    >
                                </p>

                                    <p>退房<input name="endTime" class="laydate-icon" id="demo2"  >
                                    </p></td>
                            </tr>-->
                            <tr>
                                <td>关键词</td>
                                <td class="sec"><input type="text" name="clxjmain.name" placeholder="请输入地标/商圈/景点"    id="gnclkey" ></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="ses sec"><input type="submit" value="搜索" id="sousuo"/>  </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="id"  th:value="${session.reguser }">
</div>
<!--列表页-->
<div class="lby" id="tab" style="height: 786px;overflow: auto;width: 88%;padding-left: 60px;padding-right: 100px;overflow-x:hidden;">

</div>
<!--<form action="/clxjmain!selClOfPage.action" method="post" id="clForm">
    <input type="hidden" id="offset" name="offset" value="${offset }">
      &lt;!&ndash; test="${citytype !=null}"  &ndash;&gt;
      &lt;!&ndash; <input type="hidden" name="clxjmain.type1" value="${citytype }"/>  &ndash;&gt;

    <input type="hidden" name="clxjmain.type2" value="${citytype2 }"/>
    <input type="hidden" name="clxjmain.name" value="${cityname }"/>
    <input type="hidden" name="clxjmain.belong_city" value="${belong_city }"/>
</form>-->
 <!-- <%@ include  file="bottom.jsp"%> -->
<header id="header" th:replace="/front_desk/bottom::html"></header>
<script type="text/javascript">

    data("",""); //查询所有丛林


    function data(mudidi,gjz){    //丛林显示
        layui.use('flow', function(){
            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var flow = layui.flow;
            flow.load({
                elem: '#tab' //指定列表容器
                ,isAuto:true
                ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                    var lis = [];
                    //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                    $.post('/Clxjmain/clxjmainList.do?page='+page+"&gjz="+gjz+"&type2=1",
                        "belong_city="+mudidi,
                        function(res){

                        if(res.pages>0&&res.pages<3){
                            $("#tab").css("height",280*res.pages+"px")
                        }
                        if(res.pages>0){
                            //假设你的列表返回在data集合中
                            var countAll=0;  //所有订单
                            layui.each(res.data, function(i, item){
                                var id = item.id; //编号
                                var img = item.first_img_min; //图片
                                var clName = item.name; //名称
                                var introduction = item.introduction; //介绍
                                var address = item.address; //位置
                                var price = item.price; //价格
                                var yuding = "随缘";
                                if(price>0){
                                    yuding = price+"￥";
                                }


                                lis.push( "<div class='lby-xy'> <div class='lby-left' > <a href='javascript:void()'  onclick='xiangxi("+id+")'><img width='296' height='188' src="+img+"></a></div>" +
                                    "<div class='lby-right'><p class='title' style='height: 15px;'><a href='javascript:void()' onclick='xiangxi("+id+")' style='color: red;font-size: 16px;font-weight: bold'>"+clName+"</a></p>"+
                                    "<p class='con' style='overflow:hidden;height: 50px;width:100%;text-overflow: ellipsis;white-space: normal;margin-bottom: 20px'><font color='red' size='3'>介  绍：</font>"+introduction+"</p><p class='address'style='font-size: 12px'><font color='red' size='3'>位  置：</font><font color='blue'>"+address+"</font></p></div>"+
                                    "<div class='lby-pos'><div> <p class='one'><span><i>0 </i></span>"+
                                    "<span>丛林评价</span></p><p class='two'> <span><i>10 </i></span> <span>好评/10分</span></p>"+
                                    "<p class='yd'> <span class='mony'>"+yuding+"</span> <a href='javascript:void()' onclick='yuding("+id+")'><span class='dj'>预定</span></a>"+
                                    "</p></div></div></div>"
                                );
                            });
                        }else{
                            $("#tab").css("height","200px").html("<div  align='center' style='padding-top: 70px;color:red;font-size: 16px;'>暂无丛林信息</div>");
                        }
                        next(lis.join(''), page < res.pages);
                    });
                }
            });
        });
    }
    //详细
    function xiangxi(num){
        location.href = "atDetails.do?clxjmainId="+num;
    }
    //预定
    function yuding(num){
        if($("#id").val()==""||$("#id").val()==null){

                layer.open({
                    type: 1,
                    title:"预定提示",
                    area: ['300px', '150px'],
                    content: '<div align="center" style="margin-top: 45px;font-size: 16px;color: red">你还未登录</div>' //这里content是一个普通的String
                });
        }else{
            location.href = "resFiorder.do?clxjmainId="+num;
        }
    }
</script>
<script src="/js/index.js"></script>
<script type="text/javascript">
    !function () {
        laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
        laydate({elem: '#demo1'});//绑定元素
        laydate({elem: '#demo2'});//绑定元素
        laydate({elem: '#demo3'});//绑定元素
        laydate({elem: '#demo4'});//绑定元素
    }();

//新方法，从数据库获得每种类型的城市的id
    $(function(){
        var wholename = "";//存放拼音
        var value = ""; //地址
        $("#whs1").focus(function(){
            wholename = $(this).attr("data-wholename");
            value = $(this).val();
            $("#whs1").attr("data-wholename","");
            citys(0); //加载城市选择器
        })

        $("#whs1").blur(function(){
            if(value==$(this).val()){  //判断使用发生改变
                $("#whs1").attr("data-wholename",wholename);
            }
        })
        //搜索
        $("#sousuo").click(function(){
            if($("#whs1").val()!="请选择城市"&&$("#whs1").attr("data-wholename")==""){
                alert("请选择正确地目的")
            }else{
                var city = $("#whs1").val(); //城市
                if(city!=""){
                    city = $("#whs1").attr("data-wholename")+"|"+$("#whs1").val();
                }
                var gjz = $("#gnclkey").val(); //关键字

                $("#tab").css("height","786px").html("");
                data(city,gjz); //查询
            }
        })

        $(".tj-top span").click(function(){
            if($(this).text()=="国内外丛林"){
                citys(0);
            }else if($(this).text()=="国内丛林"){
                citys(1);
            }else if($(this).text()=="国际丛林"){
                citys(2);
            }
        })
    })

    var hotList = new Array(14,15,16,17,18,19);
    //查询城市 num   0:国内外   1：国内   2：国外
    function citys(num){
        var labelFromcity = new Array();
        $(".list_label").html("");
        $(".pop_city_container ul").html("");

        $.ajax({    //查看分组
            type : "post",
            url : "Grouping/groupingFind.do",
            data: "num="+num,
            dataType: "json",
            async : false,
            success : function(results){

                for(var s =0;s<results.length;s++){
                    labelFromcity[results[s].type] = new Array();
                    $.ajax({
                        type : "post",
                        url : "Citygroup/citygroupByGid.do",
                        data: "grouping.id="+results[s].id,
                        dataType: "json",
                        async : false,
                        success : function(results2){  //查看分组信息
                            for(var i =0;i<results2.length;i++){
                                labelFromcity[results[s].type][i]=results2[i].city.id;
                            }

                            if(s==results.length-1){
                                //查询所有城市
                                $(document).ready(function(){
                                    var citysFlight=new Array();
                                    //新方法，加载页面的时候把所有的城市的数据加载出来
                                    $.ajax({
                                        type : "post",
                                        url : "City/cityAll.do",
                                        dataType: "json",
                                        async : false,
                                        success : function(results3){
                                            for(var i =0;i<results3.length;i++){
                                                citysFlight[results3[i].id]=new Array('',results3[i].chinese,results3[i].pinyin,results3[i].abbreviations);
                                            }
                                        }
                                    });
                                    $('#whs1').querycity({'data':citysFlight,'tabs':labelFromcity,'hotList':hotList});
                                    // $('#whs2').querycity({'data':citysFlight,'tabs':interlabelFromcity,'hotList':hotList});
                                });
                            }
                        }
                    });
                }
            }
        });
    }

</script>
</body>
</html>