<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>丛林闲居</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/style/cy.css">
    <link rel="stylesheet" href="/style/style.css">

</head>
<body style="background-color: #f6f6f6;">

<!--首页TOP-->
<iframe src="head.html" scrolling="no" width="100%" height="160px" frameborder="0"></iframe>

<!--用车-填写订单-->


    <div class="yc-mbx">
        <div class="yc-mbx2">
        <p>当前位置：<a href="index.html" class="ll">丛林闲居网</a> >  <a href="#" class="xz">忏悔</a></p>
        </div>
    </div>
        <div class="yc-txdd">
    <div class="ch-jry">
    <div><img src="/images/ch_03.jpg"></div>
    <div class="ch-jry1">
        <p><a href="ConRoom.html">进入忏悔室</a><a href="ConRead.html" class="ydtjw">阅读解脱文</a></p>
    </div>
    </div>
</div>
 <!--忏悔-进入页-->

 <iframe src="bottom.html" scrolling="no" width="100%" height="368px" frameborder="0"></iframe>

<script src="/js/index.js"></script>

</body>
</html>