<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>丛林闲居</title>
    <link rel="stylesheet" href="/style/cy.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <!--layUI-->
    <script type='text/javascript' src='layui/layui.js'></script>
    <link href='layui/css/layui.css' rel="stylesheet" type="text/css" />
</head>
<body>
<!--首页TOP-->
<div class="yc-txdd1">

    <!--首页banner-->
    <!--<jsp:include page="head.jsp"/>-->
    <!--<iframe src="/front_desk/head.html" scrolling="no" width="100%" height="160px" frameborder="0"></iframe>-->
    <header id="header" th:replace="/front_desk/head::html"></header>
    <!--首页轮播图-->


    <div class="passwrod-seek-i seek-top" id="div1">
        <ul class="seek">
            <li class="sk-i">找回登录密码：</li>
            <li class="sk-ii sk-b">第一步：填写账号</li>
            <li class="sk-ii sk-c">第二步：验证</li>
            <li class="sk-ii sk-c">第三步：设置新密码</li>
            <li class="sk-ii sk-c">第四步：设置成功</li>
        </ul>
        <ul class="seek-i">
            <li class="seek-i-one">请输入您的账号</li>
            <li class="seek-i-two">账号<input  maxlength="11" type="text" id="phone"/>
                <span style="color: red" id="phoneImg" ></span></li>
            <!--<li class="seek-i-three">验证码<input maxlength="4" type="text" id="yzm" onblur="checkYZM()"/>
                <img id="yzmImg" style="margin-left: 10px" width="101" height="36" src="/reguser!exyzmStr.action"/>
                <a href="javascript:void(0)" style="cursor:hand" class="pwa-pro" onclick="changeYzm()">换一换</a>
                <span style="margin-left: 10px;color: red;" id="span3"></span></li>-->
            <li class="seek-i-four"><input type="button" value="下一步" id="checkdiv1"/></li>
        </ul>
    </div>

    <div class="passwrod-seek-ii seek-top" style="display:none" id="div2">
        <ul class="seek">
            <li class="sk-i">找回登录密码：</li>
            <li class="sk-ii sk-a">第一步：填写账号</li>
            <li class="sk-ii sk-b">第二步：验证</li>
            <li class="sk-ii sk-c">第三步：设置新密码</li>
            <li class="sk-ii sk-c">第四步：设置成功</li>
        </ul>
        <ul class="seek-ii">
            <li class="seek-ii-one"><em id="em1"></em></li>
            <li class="seek-ii-two">绑定手机<span class="dness" id="div2phone"></span></li>
            <li class="seek-ii-three">验证码<input  id="mobileYZM" maxlength="6" type="text" placeholder="请输入6位数的验证码"/>
                <em id="mobileYZMImg" style="margin-left:20px;color:red;"></em>
                <button  style="margin-left: 22px;width: 110px;height: 30px" id="hqyzm">获取验证码</button>
            </li>
            <li class="seek-ii-four"><input type="button" value="下一步" id="checkdiv2"/></li>
        </ul>
    </div>


    <div class="passwrod-seek-iii seek-top" style="display:none" id="div3">
        <ul class="seek">
            <li class="sk-i">找回登录密码：</li>
            <li class="sk-ii sk-a">第一步：填写账号</li>
            <li class="sk-ii sk-a">第二步：验证</li>
            <li class="sk-ii sk-b">第三步：设置新密码</li>
            <li class="sk-ii sk-c">第四步：设置成功</li>
        </ul>
        <ul class="seek-iii-two">
            <li class="skthree-newpwa">设置新密码<input maxlength="16" id="password" type="password" placeholder="请输入6-12位数的密码"/>
                <span class="pwa-pro" id="passwordImg" style="color: red;"></span></li>
            <li class="skthree-conpwa">确认密码<input maxlength="16" id="repassword" type="password" placeholder="请再次输入密码" />
                <span class="pwa-pro" id="repasswordImg" style="color: red;"></span></li>
            <li class="skthree-but"><input type="button" value="确认" id="czpwd"/></li>
        </ul>
    </div>
    <input type="hidden" id="reguserId" name="reguserId">
    <!--<%@ include file="bottom.jsp"%>-->
    <!--<iframe src="bottom.html" scrolling="no" width="100%" height="368px" frameborder="0"></iframe>-->
    <!--<foot id="header" th:replace="/front_desk/bottom::html"></foot>-->
</div>

<div class="tcc none" id="okok">
    <div class="cgxd4">
        <div class="cgxd4-top"><p class="one"><img src="images/zhmm4_03.jpg">提示</p>
            <p class="two"><img src="images/14_01.png" class="close3"></p></div>
        <div class="cgxd4-main">
            您的登录密码设置成功！
        </div>
        <div class="cgxd4-buttom">
            <a href="/desk.do" >确&nbsp;认</a>
        </div>
    </div>

</div>

<script type="text/javascript">

    var sjyzm="";  //保存验证码
    //获取验证码
    function yzm(){
        sjyzm="";
        // 0-9的随机数
        for(var i =0;i<6;i++){//循环六次
            var num = Math.random()*9;//Math.random();每次生成(0-1)之间的数;
            num = parseInt(num,10);
            sjyzm+=num;
        }
    }

    /**
     * 验证码倒计时
     */
    var time="";
    function down(second) {
        time=setInterval(function(){
            second-=1;
            $("#hqyzm").text(second+"s后重新发送");
            if(second<=0){
                clearInterval(time); //清除
                $("#hqyzm").text("重新获取");
                $("#hqyzm").attr("disabled",false);
            }
        },1000)
    }

$(function(){
    //手机号验证
    $("#phone").focus(function(){
        $("#mobileImg").html("");
    })
    $("#phone").blur(function(){
        var mobile = $(this).val();
        var phoneNum = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/; //手机号码
        var phoneNumCheck = (mobile.trim()).match(phoneNum);
        $("#phoneImg").html("*");
        if(mobile!=""){
            if(!phoneNumCheck){
                $("#phoneImg").html("<img src='image/unchecked.gif' />");
            }else{
                $.ajax({
                    url:"Reguser/reguserByUsername.do",
                    type:"post",
                    data:"username="+mobile.trim(),
                    success:function(res){
                        if(res!=""){
                            $("#phoneImg").html("<img src='image/checked.gif' />");
                            $("#div2phone").html(res.mobile); //设置绑定账号
                            $("#reguserId").val(res.id); //设置Id
                        }else{
                            $("#phoneImg").html("<img src='image/unchecked.gif' />");
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg("账号不存在");
                            });

                        }
                    }
                })
            }
        }
    })

    //第一步校验
    $("#checkdiv1").click(function(){

        layui.use('layer', function(){
            var layer = layui.layer;
            if($("#phone").val()==""){
                layer.msg("请输入账号");
            }else if($("#phoneImg img").attr("src")=="image/unchecked.gif"){
                layer.msg("账号不存在");
            }else{
                document.getElementById("div1").style.display = "none";
                document.getElementById("div2").style.display = "block";
            }
        });
    })

    //获取验证码
    $("#hqyzm").click(function(){

        var phone = $("#div2phone").text(); //获取手机号
        //提示已发送短信
        layui.use('layer', function(){
            var layer = layui.layer;
                yzm(); //生成验证信息
                //发送验证
                $.ajax({
                    url:"Reguser/reguserYZM.do",
                    type:"post",
                    data:"phone="+phone+"&yzm="+sjyzm+"&num=3",
                    success:function(res){
                        if(res==true){
                            layer.msg("发送成功");
                            if($("#hqyzm").text().trim()!="获取验证码"){ //判断是否是第一次获取
                                $("#mobileYZM").trigger("blur"); //重新验证验证码
                            }
                            $("#hqyzm").attr("disabled","disabled");
                            var second =5; //倒计时
                            $("#hqyzm").text(second+"s后重新发送");
                            down(second);
                        }else{
                            layer.msg("发送失败");
                            clearInterval(time); //清除
                            $("#hqyzm").text("重新获取");
                            $("#hqyzm").attr("disabled",false);
                        }
                    }
                })
        })
    })

    //验证码验证
    $("#mobileYZM").focus(function(){
        $("#mobileYZMImg").html("");
    })
    $("#mobileYZM").blur(function(){
        var yzm = $(this).val().trim();

        $("#mobileYZMImg").html("*");
        if(yzm!=""){
            if(yzm!=sjyzm){
                $("#mobileYZMImg").html("<img src='image/unchecked.gif' />");
            }else{
                $("#mobileYZMImg").html("<img src='image/checked.gif' />");
            }
        }
    })

    //第二步校验
    $("#checkdiv2").click(function(){
        var yzm=$("#mobileYZM").val().trim(); //获取验证码
        layui.use('layer', function(){
            var layer = layui.layer;
            if($("#mobileYZM").val()==""){
                layer.msg("请输入验证码");
            }else if($("#mobileYZMImg img").attr("src")=="image/unchecked.gif"||yzm!=sjyzm){
                layer.msg("验证码错误");
            }else{
                document.getElementById("div2").style.display = "none";
                document.getElementById("div3").style.display = "block";
            }
        });
    })

    //密码验证
    $("#password").focus(function(){
        $("#passwordImg").html("");
    })
    $("#password").blur(function(){
        var pwd = $(this).val().trim();

        $("#passwordImg").html("");
        if(pwd!=""){
            if(pwd.length<6||pwd.length>12){
                $("#passwordImg").html("<img src='image/unchecked.gif' />");
            }else{
                $("#passwordImg").html("<img src='image/checked.gif' />");
            }
        }
    })

    //确认密码验证
    $("#repassword").focus(function(){
        $("#repasswordImg").html("");
    })
    $("#repassword").blur(function(){
        var pwd = $("#password").val().trim(); //原密码
        var pwds = $(this).val().trim(); //确认密码

        $("#repasswordImg").html("");
        if(pwds!=""){
            if(pwd!=pwds){
                $("#repasswordImg").html("<img src='image/unchecked.gif' />");
            }else{
                $("#repasswordImg").html("<img src='image/checked.gif' />");
            }
        }
    })

    //重设密码
    $("#czpwd").click(function(){
        layui.use('layer', function(){
            var layer = layui.layer;
            if($("#password").val()==""||$("#passwordImg img").attr("src")=="image/unchecked.gif"){
                layer.msg("重新输入密码");
            }else if($("#repassword").val()==""||$("#repasswordImg img").attr("src")=="image/unchecked.gif"){
                layer.msg("重新输入确认密码");
            }else{
                $.ajax({
                    url:"Reguser/retrievePassword.do",
                    type:"post",
                    data:"id="+$("#reguserId").val()+"&pwd="+$("#password").val(),
                    success:function(res){
                        layui.use('layer', function(){
                            if(res==true){
                                document.getElementById("okok").style.display = "block";
                            }else{
                                layer.msg("发生了未知错误，我们感到十分抱歉,请重试");
                                window.location.href = "/retrievePassword.do";
                            }
                        });
                    }
                })
            }
        });
    })
})
</script>

</body>
</html>