<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>丛林闲居-用户中心-修改密码</title>
    <link rel="stylesheet" href="/style/cy.css">
    <link rel="stylesheet" href="/style/style.css">

</head>
<body style="background-color:#f6f6f6;">

<div>
<!--首页TOP-->
         
        <!--首页banner-->
          <!--<jsp:include  page="head.jsp" />-->

    <header id="header" th:replace="/front_desk/head::html"></header>
        <!--首页轮播图-->
<!--用车-填写订单-->
        <div class="personal-content">
            <div><img src="/images/ayw_03.gif"></div>

                <!--左边操作-->
                <header id="header" th:replace="/front_desk/UserLeft::html"></header>

            <div class="per-cont-right">
                <div class="jbxx">
                    <img src="/images/xxxx_06.jpg">修改密码
                    <p></p>
                </div>
                <div>
                <form action="#" method="post" onsubmit="return false;" id="updatePwdForm()">
                	<input type="hidden" id="oldpwd2" th:value="${session.reguser.getPwd() }"/>
                	<!--<input type="hidden" name="updatePwd" value="1"/>
                	<input type="hidden" name="reguser.username" value="${sessionUser.username }"/>-->
                	<input type="hidden" id="id" name="id" th:value="${session.reguser.id }"/>
                    <table class="sg">
                        <tr>
                            <td>原始密码：</td>
                            <td><input type="password" id="oldpwd" ><span><label id="oldpwderror"></label></span></td>
                        </tr>
                        <tr>
                            <td>新密码：</td>
                            <td><input id="pwd" type="password" placeholder="请输入6-12位" ><span><label id="pwderror"></label></span></td>
                        </tr>
                        <tr>
                            <td>再次输入新密码：</td>
                            <td><input id="repwd" type="password" name="pwd" ><span><label id="repwderror" ></label></span></td>
                        </tr>
                    </table>
                   </form>
                </div>
                <div class="anniu"><input type="submit" value="保存" onclick="updatePwd()"><input type="reset" value="取消"></div>
            </div>

        </div>
 <!--<%@ include  file="bottom.jsp"%>-->
    <header id="header" th:replace="/front_desk/bottom::html"></header>

</div>

<script src="/js/md5.js"></script>
<script type="text/javascript">
    $(function(){
        $(".grzl-banner li:eq(1)").attr("class","yhzxsp yhzxs1");
        //原密码验证
        $("#oldpwd").focus(function(){
            $("#oldpwderror").html("");
        })
        $("#oldpwd").blur(function(){
            var oldpwd = $(this).val().trim();
            var oldpwd2 = $("#oldpwd2").val();

            $("#oldpwderror").html("");
            if(oldpwd!=""){
                if(hex_md5(oldpwd)!=oldpwd2){
                    $("#oldpwderror").html("<img src='image/unchecked.gif' />");
                }else{
                    $("#oldpwderror").html("<img src='image/checked.gif' />");
                }
            }
        })
        //密码验证
        $("#pwd").focus(function(){
            $("#pwderror").html("");
        })
        $("#pwd").blur(function(){
            var pwd = $(this).val().trim();

            $("#pwderror").html("");
            if(pwd!=""){
                if(pwd.length<6||pwd.length>12){
                    $("#pwderror").html("<img src='image/unchecked.gif' />");
                }else{
                    $("#pwderror").html("<img src='image/checked.gif' />");
                }
            }
        })

        //确认密码验证
        $("#repwd").focus(function(){
            $("#repwderror").html("");
        })
        $("#repwd").blur(function(){
            var pwd = $("#pwd").val().trim(); //原密码
            var pwds = $(this).val().trim(); //确认密码

            $("#repwderror").html("");
            if(pwds!=""){
                if(pwd!=pwds){
                    $("#repwderror").html("<img src='image/unchecked.gif' />");
                }else{
                    $("#repwderror").html("<img src='image/checked.gif' />");
                }
            }
        })
    })
</script>
<script type="text/javascript">
	function updatePwd(){
        layui.use('layer', function(){
            var layer = layui.layer;
            if($("#oldpwderror img").attr("src")=="image/unchecked.gif"||$("#oldpwd").val()==""){
                layer.msg("重新原密码");
            }else if($("#pwd").val()==""||$("#pwderror img").attr("src")=="image/unchecked.gif"){
                layer.msg("重新输入密码");
            }else if($("#repwd").val()==""||$("#repwderror img").attr("src")=="image/unchecked.gif"){
                layer.msg("重新输入确认密码");
            }else{
                $.ajax({
                    url:"Reguser/retrievePassword.do",
                    type:"post",
                    data:"id="+$("#id").val()+"&pwd="+$("#pwd").val(),
                    success:function(res){
                        layui.use('layer', function(){
                            if(res==true){
                                layer.msg("修改成功");
                                setTimeout(function(){
                                    location.reload();
                                },2000)
                            }else{
                                layer.msg("修改失败");
                            }
                        });
                    }
                })
            }
        });
	}
</script>
</body>
</html>