<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>丛林闲居-用户中心-个人资料</title>
    <link rel="stylesheet" href="/style/cy.css">
    <link rel="stylesheet" href="/style/style.css">
    <!-- 表单验证start -->
<!--

    <script type="text/javascript" src="/js/lazyload-min.js"></script>
    <script type='text/javascript' src="/js/citylist.js"></script>
    <script type='text/javascript' src="/js/querycity.js"></script>
    <script src="/js/laydate.js"></script>
-->

    <!-- 表单验证stop -->

    <!--layUI-->
    <script type='text/javascript' src='/layui/layui.all.js'></script>
    <link href='/layui/css/layui.css' rel="stylesheet" type="text/css" />
</head>
<body style="background-color:#f6f6f6;">

<div>
    <!--首页TOP-->

    <header id="header" th:replace="/front_desk/head::html"></header>

    <script type="text/javascript">
        function loginOut() {
            window.location.href = "Reguser/reguserLogout.do";
        }
    </script>
    <!--首页轮播图-->
    <!--用车-填写订单-->
    <div class="personal-content">
        <div><img src="/images/ayw_03.gif"></div>
        <!--<div class="per-cont-left">
            <ul class="left-top">
                <li class="top-one">
                    <ul class="lf one-i">
                        <li>
                            &lt;!&ndash;<c:if test="${sessionUser.sex ==true}">&ndash;&gt;
                            <img src="/images/touxiagn.png" th:if="${session.reguser.sex==1}"/>
                            &lt;!&ndash;</c:if>&ndash;&gt;
                            &lt;!&ndash;<c:if test="${sessionUser.sex ==false}">&ndash;&gt;
                            <img src="/images/touxiagnv.jpg" th:if="${session.reguser.sex==2}"/>
                            &lt;!&ndash;</c:if>&ndash;&gt;
                        </li>
                    </ul>
                    <ul class="lf one-ii">
                        <li></li>
                        <li>尊敬的会员！</li>
                        <li class="quit"><em onclick="loginOut()">[退出]</em></li>
                    </ul>
                </li>
                <li class="top-two cf">用户名：<span th:text="${session.reguser.username }"></span></li>
                <li class="top-two">邮&nbsp;&nbsp;箱：<span th:text="${session.reguser.email }"></span></li>
            </ul>
            <ul class="grzl-banner">
                <li class="yhzxsp yhzxs1"><a href="/userPersonal.do"><p class="grzl"></p>个人资料</a></li>
                <li><a href="userCPassword.do"><p class="xgmm"></p>密码修改</a></li>
                <li><a href="UserJAOrder.html"><p class="clxjdd"></p>丛林闲居订单</a></li>
                <li><a href="UserCarOrder.html"><p class="ycdd"></p>我的用车订单</a></li>
                <li><a href="UserPquery.html"><p class="qzjd"></p>求助进度查询</a></li>
                <li><a href="UserJPquery.html"><p class="jmcx"></p>加盟进度查询</a></li>
            </ul>
        </div>-->
        <header id="header" th:replace="/front_desk/UserLeft::html"></header>
        <form action="#" method="post" id="reguserForm" onsubmit="return false;">
            <div class="per-cont-right">
                <div class="jbxx">
                    <img src="/images/xxxx_03.jpg">基本信息
                    <p></p>
                </div>
                <div>
                    <table class="sg">
                        <tr>
                            <td>邮箱：</td>
                            <td><input type="text" id="email" class="required email" name="reguser.email" th:value="${session.reguser.email }">
                                <label id="emailImg" style="color: red" class="error" for="email"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>手机：</td>
                            <td><input type="text" id="mobile" class="required isMobile" name="reguser.mobile" th:value="${session.reguser.mobile }">
                                <label id="mobileImg" style="color: red" class="error" for="mobile">*</label>
                            </td>
                        </tr>
                        <tr>
                            <td>性别：</td>
                            <td>
                                <span th:if="${session.reguser.sex==1}">
                                    <input type="radio" value="1" checked="checked" name="sex">&nbsp;&nbsp;男&nbsp;&nbsp;
                                    <input type="radio" value="2" name="sex">&nbsp;&nbsp;女
                                </span>
                                <span th:if="${session.reguser.sex==2}">
                                    <input type="radio" value="1" name="sex">&nbsp;&nbsp;男&nbsp;&nbsp;
                                    <input type="radio" value="2" checked="checked"  name="sex">&nbsp;&nbsp;女
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="jbxx">
                    <img src="/images/xxxx_06.jpg">详细信息
                    <p></p>
                </div>
                <div>
                    <table class="sg">
                        <tr>
                            <td>真实姓名：</td>
                            <td><input class="isChinese" id="realname" type="text" th:value="${session.reguser.realname }">
                                <label id="name-error" style="color: red" class="error" for="realname"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>身份证明：</td>
                            <td><input id="idcard" name="idcard" type="text" class="idCard" th:value="${session.reguser.idcard }">
                                <label id="idcard-error" style="color: red" class="error" for="idcard"></label>
                            </td>
                        </tr>
                       <!-- <tr>
                            <td>所在城市：</td>
                            <td><select><option>江西省</option><option>江西省</option></select><select><option>南昌市</option><option>江西省</option></select></td>
                        </tr>-->
                        <tr>
                            <td></td>
                            <td><i>*完善详细信息可加强您账号真实性</i></td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" id="id" name="id" th:value="${session.reguser.id }"/>
             <!--   <input type="hidden" id="city" name="reguser.city" value="${sessionUser.city }"/>-->
                <div class="anniu"><input id="update" type="submit" value="保存"><input type="reset" value="取消"></div>
            </div>
        </form>
    </div>
    <!-- <%@ include  file="bottom.jsp"%> -->
    <!--<iframe src="bottom.html" scrolling="no" width="100%" height="368px" frameborder="0"></iframe>-->
    <header id="header" th:replace="/front_desk/bottom::html"></header>

</div>

<script type="text/javascript">
    $(function(){
        $(".grzl-banner li:eq(0)").attr("class","yhzxsp yhzxs1");
        //邮箱验证
        $("#email").focus(function(){
            $("#emailImg").html("");
        })
        $("#email").blur(function(){
            var email = $(this).val();
            var phoneNum = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/; //邮箱
            var phoneNumCheck = (email.trim()).match(phoneNum);
            $("#emailImg").html("");
            if(email!=""){
                if(!phoneNumCheck){
                    $("#emailImg").html("<img src='image/unchecked.gif' />");
                }else{
                    $("#emailImg").html("<img src='image/checked.gif' />");
                }
            }
        })

        //手机号验证
        $("#mobile").focus(function(){
            $("#mobileImg").html("");
        })
        $("#mobile").blur(function(){
            var mobile = $(this).val();
            var phoneNum = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/; //手机号码
            var phoneNumCheck = (mobile.trim()).match(phoneNum);
            $("#mobileImg").html("*");
            layui.use('layer', function(){
                var layer = layui.layer;
            if(mobile!=""){
                if(!phoneNumCheck){
                    $("#mobileImg").html("<img src='image/unchecked.gif' />");
                    layer.msg("手机号错误");
                    $(this).trigger("focus");
                }else{
                    $("#mobileImg").html("<img src='image/checked.gif' />");
                }
            }else{
                layer.msg("手机号不能为空");
                $(this).trigger("focus");
            }
            });
        })

        //修改信息
        $("#update").click(function(){
            layui.use('layer', function(){
                var layer = layui.layer;
                if($("#mobileYZM img").attr("src")=="image/unchecked.gif"){
                    layer.msg("重新输入手机号");
                }else if($("#emailImg img").attr("src")=="image/unchecked.gif"){
                    layer.msg("邮箱错误");
                }else{
                    var sex = document.getElementsByName("sex");
                    var intHot=1; //存放性别

                    for(var i=0;i<sex.length;i++)
                    {
                        if(sex[i].checked)
                         intHot = sex[i].value;
                    }
                    $.ajax({
                        url:"Reguser/retrievePassword.do",
                        type:"post",
                        data:"id="+$("#id").val()+"&mobile="+$("#mobile").val()+"&email="+$("#email").val()+"&sex="+intHot+"&realname="+$("#realname").val()+"&idcard="+$("#idcard").val(),
                        success:function(res){
                            layui.use('layer', function(){
                                if(res==true){
                                    layer.msg("修改成功");
                                    setTimeout(function(){
                                        location.reload();
                                    },2000)

                                }else{
                                    layer.msg("修改失败");
                                }
                            });
                        }
                    })
                }
            });
        })

    })
</script>

</body>
</html>