<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>丛林闲居-用户中心-求助进度查询</title>
    <link rel="stylesheet" href="/style/cy.css">
    <link rel="stylesheet" href="/style/style.css">

    <!--layUI-->
    <script type='text/javascript' src='/layui/layui.all.js'></script>
    <link href='/layui/css/layui.css' rel="stylesheet" type="text/css" />


</head>
<body style="background-color:#f6f6f6;">


<div>
    <!--首页TOP-->

    <!--首页banner-->
    <!--<jsp:include  page="head.jsp" />-->
    <header id="header" th:replace="/front_desk/head::html"></header>


    <!--首页轮播图-->
    <!--用车-填写订单-->
    <div class="personal-content">
        <div><img src="/images/ayw_03.gif"></div>
        <!--左边操作-->
        <header id="header" th:replace="/front_desk/UserLeft::html"></header>


        <div class="per-cont-right" style="height: 200px;min-height: 550px;">
            <div class="yhzx-jmjdcx">
                <div class="jmjdcx-top">
                    <span class="dywr" onclick="initTab(4)">所有求助(<em id="all" th:text="${all}"></em>)</span> |<span onclick="initTab(3)">未通过(<em
                        id="no" th:text="${no}"></em>)</span> |<span onclick="initTab(1)">初审通过(<em id="ok" th:text="${ok}"></em>)</span>|<span
                        onclick="initTab(2)">终审通过(<em id="ok2" th:text="${ok2}"></em>)</span>
                </div>
                <div class="jmjdcx-nr">
                    <div class="jmjdx-one">
                        <div class="clxjdd-top" style="width: 678px;">
                            <p style="width: 25%" align="center">序号</p>
                            <p style="width: 25%" align="center">申请人名字</p>
                            <p style="width: 25%" align="center">申请状态</p>
                            <p style="width: 25%" align="center">申请时间</p>
                        </div>
                        <div style="width: 687px;text-align: center"  id="tab">


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <%@ include  file="bottom.jsp"%> -->
    <input type="hidden" id="id" th:value="${session.reguser.id}">
    <input type="hidden" id="applystatus" th:value="${applystatus}">
    <header id="header" th:replace="/front_desk/bottom::html"></header>

</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/date.js"></script>
<script type="text/javascript">
    var sid=1; //存放编号
    $(function(){
        $(".grzl-banner li:eq(4)").attr("class","yhzxsp yhzxs1");
    })
    var applystatus = document.getElementById("applystatus").value;
    if(applystatus==""){
       data(applystatus);
    }
    function initTab(applystatus){
        $("#tab").html("");
        sid=1;
        data(applystatus);
    }

    function data(applystatus){
        layui.use('flow', function(){
            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var flow = layui.flow;
            var id = $("#id").val();
            //var state = $("#state").val();
            flow.load({
                elem: '#tab' //指定列表容器
                ,isAuto:true
                ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                    var lis = [];
                    //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                    $.get('/Helpinfo/userPquery.do?page='+page+"&reguser.id="+id+"&applystatus="+applystatus, function(res){

                        if(res.pages>0){
                            //假设你的列表返回在data集合中
                            var countAll=0;  //所有订单
                            layui.each(res.data, function(i, item){
                                //var id = i + 1;//序号
                                var name = item.name;//申请人名字
                                var applystatus;//状态
                                switch (item.applystatus) {
                                    case 0:
                                        applystatus = "申请处理中";
                                        break;
                                    case 1:
                                        applystatus = "初审通过";
                                        break;
                                    case 2:
                                        applystatus = "申请成功";
                                        break;
                                    case 3:
                                        applystatus = "申请驳回";
                                        break;
                                }
                                var time = item.time; //申请时间
                                lis.push( "<table width='100%'border='1px solid #cccccc'><tr><td width='25%'>" + (sid++) + "</td><td  width='25%'>" + name + "</td><td  width='25%'>" + applystatus + "</td><td  width='25%'>" + time + "</td></tr></table>");


                            });


                        }else{
                            $("#tab").attr("border","0px solid #cccccc").html("<div  align='center' style='padding-top: 20px;color:red;font-size: 16px;'>暂时无申请哦</div>");
                        }

                        next(lis.join(''), page < res.pages);

                      /*  $("#tab").after($(".layui-flow-more:eq(0)"));
                        $("#tab .layui-flow-more").remove();*/
                    });
                }
            });
        });
    }

</script>
<script type="text/javascript">
  /*  getCount();
    var all;
    var ok;
    var ok2;
    var no;

    function getCount() {
        $.ajax({
            type: "post",
            url: "/helpinfo!selHelpOfUidCount.action",
            data: {"uid": $("#uid").val()},
            dataType: "json",
            async: false,
            success: function (results) {
                all = results.helpinfoCount.count;
                ok = results.helpinfoCount.ok;
                no = results.helpinfoCount.no;
                ok2 = results.helpinfoCount.ok2;
                document.getElementById("all").innerHTML = all;
                document.getElementById("no").innerHTML = no;
                document.getElementById("ok").innerHTML = ok;
                document.getElementById("ok2").innerHTML = ok2;
                initTab(4);
            }
        });
    }

    function initTab(applystatus) {
        var t1 = document.getElementById("tab");
        var rowNum = t1.rows.length;
        if (rowNum > 0) {
            for (i = 0; i < rowNum; i++) {
                t1.deleteRow(i);
                rowNum = rowNum - 1;
                i = i - 1;
            }
        }
        var innerTD1 = "<tr><td>序号</td><td>申请人名字</td><td>申请状态</td><td>申请时间</td></tr>";
        $(innerTD1).appendTo("#tab");
        $.ajax({
            type: "post",
            url: "/helpinfo!selHelpOfUid.action",
            data: {"uid": $("#uid").val(), "applystatus": applystatus},
            dataType: "json",
            async: false,
            success: function (results) {
                if (results.helpinfos.length > 0) {
                    for (var i = 0; i < results.helpinfos.length; i++) {
                        var id = i + 1;//序号
                        var name = results.helpinfos[i].name;//申请人名字
                        var applystatus;//状态
                        switch (results.helpinfos[i].applystatus) {
                            case 0:
                                applystatus = "申请处理中";
                                break;
                            case 1:
                                applystatus = "初审通过";
                                break;
                            case 2:
                                applystatus = "申请成功";
                                break;
                            case 3:
                                applystatus = "申请驳回";
                                break;
                        }
                        var time = results.helpinfos[i].time; //申请时间
                        var innerTD = "<tr><td>" + id + "</td><td>" + name + "</td><td>" + applystatus + "</td><td>" + time + "</td></tr>";
                        $(innerTD).appendTo("#tab");
                    }
                } else {
                    var innerTD = "<tr><td  colspan='4'>暂时无申请哦</td></tr>";
                    $(innerTD).appendTo("#tab");
                }
            }
        });
    }*/
</script>
</body>
</html>