<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>闲居审核</title>
    <link rel="stylesheet" href="temp/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="temp/vendor/font-awesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="temp/css/styles.css">
    <link href="bootstrapTable/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="bootstrapTable/css/animate.min.css" rel="stylesheet"/>
    <link href="bootstrapTable/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="bootstrapTable/css/plugins/bootstrapValidator/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="bootstrapTable/css/style.min.css" />
    <link rel="stylesheet" href="bootstrapTable/css/style.table.css">
    <link rel="stylesheet" href="temp/css/style-clxj.css">
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="temp/imgs/logo.png" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none" style="margin-right: 550px">
                <script>
                    var weekDayLabels = new Array("星期日","星期一","星期二","星期三","星期四","星期五","星期六");
                    var now = new Date();
                    var year=now.getFullYear();
                    var month=now.getMonth()+1;
                    var day=now.getDate()
                    var currentime = year+"年"+month+"月"+day+"日 "+weekDayLabels[now.getDay()]
                    document.write(currentime)
                </script>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="temp/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">admin</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> 个人信息
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> 修改密码
                    </a>

                    <div class="dropdown-header">Settings</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a href="index.html" class="nav-link">
                            <i class="icon icon-speedometer"></i> 系统首页
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> 管理员后台管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="back_user.html" class="nav-link">
                                    <i class="icon icon-target"></i> 注册用户管理
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="back_admin.html" class="nav-link">
                                    <i class="icon icon-target"></i> 后台用户管理
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="clshenghe.html" class="nav-link">
                                    <i class="icon icon-target"></i> 丛林审核
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="back_xjshenhe.html" class="nav-link active">
                                    <i class="icon icon-target"></i> 闲居审核
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="back_ycshenhe.html" class="nav-link">
                                    <i class="icon icon-target"></i> 用车审核
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="qiuzhu.html" class="nav-link">
                                    <i class="icon icon-target"></i> 求助信息管理
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="love.html" class="nav-link">
                                    <i class="icon icon-target"></i> 爱心捐赠管理
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="yuedizhichu.html" class="nav-link">
                                    <i class="icon icon-target"></i> 月底支出管理
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="kuanwufafang.html" class="nav-link">
                                    <i class="icon icon-target"></i> 款物发放管理
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 加盟信息管理<i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="cljiamenguali.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 丛林加盟管理
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="xianjujiamen.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 闲居加盟管理
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="yongchejiameng.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 用车加盟管理
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 订单管理 <i class="fa fa-caret-left"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="404.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 404
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="500.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 500
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="apk.html" class="nav-link">
                            <i class="icon icon-puzzle"></i> apk版本管理
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon icon-puzzle"></i> 广告管理
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="chengshiguanli.html" class="nav-link">
                            <i class="icon icon-grid"></i> 城市管理
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">

                        <div class="tableBody">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    查询条件
                                </div>
                                <div class="panel-body form-group" style="margin-bottom:0px;">
                                    <label class="col-sm-2 control-label" style="text-align: right; margin-top:5px">名称：</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="name" id="search_name"/>
                                    </div>
                                    <label class="col-sm-2 control-label" style="text-align: right; margin-top:5px">地址类型：</label>
                                    <div class="col-sm-2">
                                        <select name="type1" id="search_typeid" class="form-control">
                                            <option value="">选择所有</option>
                                            <option value="0">国外</option>
                                            <option value="1">国内</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label" style="text-align: right; margin-top:5px" >审核状态：</label>
                                    <div class="col-sm-2">
                                        <select name="checkStatus" id="search_checkstatus" class="form-control">
                                            <option value="">选择所有</option>
                                            <option value="0">未审核</option>
                                            <option value="1">通过</option>
                                            <option value="2">未通过</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 pull-right">
                                        <button class="btn btn-primary" id="search_btn">查询</button>
                                    </div>
                                </div>
                            </div>
                            <table id="mytab" class="table table-hover"></table>
                        </div>
			              </div>
                   </div>
            </div>
      </div>
</div>
<script src="temp/vendor/jquery/jquery.min.js"></script>
<script src="temp/vendor/popper.js/popper.min.js"></script>
<script src="bootstrapTable/js/bootstrap.min.js"></script>
<script src="temp/vendor/chart.js/chart.min.js"></script>
<script src="temp/js/carbon.js"></script>
<script src="temp/js/demo.js"></script>
<script src="bootstrapTable/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="bootstrapTable/js/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="bootstrapTable/js/plugins/bootstrapValidator/bootstrapValidator.min.js"></script>
<script src="layui/layui.all.js"></script>
<script src="bootstrapTable/js/back_xjshenhe.js"></script>
</body>
</html>
