<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.one.clxj.mapper.CarinfoMapper" >
  <resultMap id="BaseResultMap" type="com.one.clxj.pojo.Carinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <!--<result column="clxjmainId" property="clxjmains.id" jdbcType="INTEGER" />-->
    <result column="cartitle" property="cartitle" jdbcType="VARCHAR" />
    <result column="carouselImg" property="carouselImg" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="licence" property="licence" jdbcType="VARCHAR" />
    <!--<result column="joinid" property="adminuser.id" jdbcType="INTEGER" />-->
    <result column="checkstatus" property="checkstatus" jdbcType="INTEGER" />
    <association property="clxjmains" column="clxjmainId" select="com.one.clxj.mapper.ClxjmainMapper.selectByPrimaryKey2"/>
    <association property="adminuser" column="joinid" select="com.one.clxj.mapper.AdminuserMapper.selectByPrimaryKey2"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clxjmainId, cartitle, carouselImg, price, licence, joinid, checkstatus
  </sql>
  <select id="selectByExample2" resultMap="BaseResultMap" parameterType="com.one.clxj.pojo.CarinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey2" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from carinfo
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="countByExample" parameterType="com.one.clxj.pojo.CarinfoExample" resultType="java.lang.Integer" >
    select count(*) from carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

</mapper>