<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.one.clxj.mapper.CarinfoMapper" >
  <resultMap id="BaseResultMap" type="com.one.clxj.pojo.Carinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <!--<result column="clxjmainId" property="clxjmains.id" jdbcType="INTEGER" />-->
    <result column="cartitle" property="cartitle" jdbcType="VARCHAR" />
    <result column="carouselImg" property="carouselImg" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="licence" property="licence" jdbcType="VARCHAR" />
    <!--<result column="joinid" property="adminuser.id" jdbcType="INTEGER" />-->
    <result column="checkstatus" property="checkstatus" jdbcType="INTEGER" />
    <association property="clxjmains" column="clxjmainId" select="com.one.clxj.mapper.ClxjmainMapper.selectByPrimaryKey2"/>
    <association property="adminuser" column="joinid" select="com.one.clxj.mapper.AdminuserMapper.selectByPrimaryKey2"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clxjmainId, cartitle, carouselImg, price, licence, joinid, checkstatus
  </sql>
  <select id="selectByExample2" resultMap="BaseResultMap" parameterType="com.one.clxj.pojo.CarinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey2" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from carinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey2" parameterType="java.lang.Integer" >
    delete from carinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample2" parameterType="com.one.clxj.pojo.CarinfoExample" >
    delete from carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.one.clxj.pojo.Carinfo" >
    insert into carinfo (id, clxjmainId, cartitle, 
      carouselImg, price, licence, 
      joinid, checkstatus)
    values (#{id,jdbcType=INTEGER}, #{clxjmainId,jdbcType=INTEGER}, #{cartitle,jdbcType=VARCHAR}, 
      #{carouselImg,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{licence,jdbcType=VARCHAR}, 
      #{joinid,jdbcType=INTEGER}, #{checkstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.one.clxj.pojo.Carinfo" >
    insert into carinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clxjmains.id != null" >
        clxjmainId,
      </if>
      <if test="cartitle != null" >
        cartitle,
      </if>
      <if test="carouselImg != null" >
        carouselImg,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="licence != null" >
        licence,
      </if>
      <if test="adminuser.id != null" >
        joinid,
      </if>
      <if test="checkstatus != null" >
        checkstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clxjmains.id != null" >
        #{clxjmainId,jdbcType=INTEGER},
      </if>
      <if test="cartitle != null" >
        #{cartitle,jdbcType=VARCHAR},
      </if>
      <if test="carouselImg != null" >
        #{carouselImg,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="licence != null" >
        #{licence,jdbcType=VARCHAR},
      </if>
      <if test="adminuser.id != null" >
        #{joinid,jdbcType=INTEGER},
      </if>
      <if test="checkstatus != null" >
        #{checkstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.one.clxj.pojo.CarinfoExample" resultType="java.lang.Integer" >
    select count(*) from carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective2" parameterType="map" >
    update carinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clxjmains.id != null" >
        clxjmainId = #{record.clxjmainId,jdbcType=INTEGER},
      </if>
      <if test="record.cartitle != null" >
        cartitle = #{record.cartitle,jdbcType=VARCHAR},
      </if>
      <if test="record.carouselImg != null" >
        carouselImg = #{record.carouselImg,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.licence != null" >
        licence = #{record.licence,jdbcType=VARCHAR},
      </if>
      <if test="record.adminuser.id != null" >
        joinid = #{record.joinid,jdbcType=INTEGER},
      </if>
      <if test="record.checkstatus != null" >
        checkstatus = #{record.checkstatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample2" parameterType="map" >
    update carinfo
    set id = #{record.id,jdbcType=INTEGER},
      clxjmainId = #{record.clxjmainId,jdbcType=INTEGER},
      cartitle = #{record.cartitle,jdbcType=VARCHAR},
      carouselImg = #{record.carouselImg,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      licence = #{record.licence,jdbcType=VARCHAR},
      joinid = #{record.joinid,jdbcType=INTEGER},
      checkstatus = #{record.checkstatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.one.clxj.pojo.Carinfo" >
    update carinfo
    <set >
      <if test="clxjmains.id != null" >
        clxjmainId = #{clxjmainId,jdbcType=INTEGER},
      </if>
      <if test="cartitle != null" >
        cartitle = #{cartitle,jdbcType=VARCHAR},
      </if>
      <if test="carouselImg != null" >
        carouselImg = #{carouselImg,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="licence != null" >
        licence = #{licence,jdbcType=VARCHAR},
      </if>
      <if test="adminuser.id != null" >
        joinid = #{joinid,jdbcType=INTEGER},
      </if>
      <if test="checkstatus != null" >
        checkstatus = #{checkstatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.one.clxj.pojo.Carinfo" >
    update carinfo
    set clxjmainId = #{clxjmainId,jdbcType=INTEGER},
      cartitle = #{cartitle,jdbcType=VARCHAR},
      carouselImg = #{carouselImg,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      licence = #{licence,jdbcType=VARCHAR},
      joinid = #{joinid,jdbcType=INTEGER},
      checkstatus = #{checkstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>