<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.one.clxj.mapper.ClxjmainMapper" >
  <resultMap id="BaseResultMap" type="com.one.clxj.pojo.Clxjmain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type1" property="type1" jdbcType="INTEGER" />
    <result column="type2" property="type2" jdbcType="INTEGER" />
    <result column="belong_city" property="belong_city" jdbcType="VARCHAR" />
    <result column="first_img_big" property="first_img_big" jdbcType="VARCHAR" />
    <result column="first_img_min" property="first_img_min" jdbcType="VARCHAR" />
    <result column="carousel_img" property="carousel_img" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="reserve_num" property="reserve_num" jdbcType="INTEGER" />
    <result column="recommend" property="recommend" jdbcType="INTEGER" />
    <!--<result column="joinid" property="adminuser.id" jdbcType="INTEGER" />-->
    <result column="checkStatus" property="checkStatus" jdbcType="INTEGER" />
    <result column="abbot" property="abbot" jdbcType="VARCHAR" />
    <result column="abbotresume" property="abbotresume" jdbcType="VARCHAR" />
    <result column="opentime" property="opentime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <association property="adminuser" column="joinid" select="com.one.clxj.mapper.AdminuserMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, type1, type2, belong_city, first_img_big, first_img_min, carousel_img, 
    price, introduction, address, longitude, latitude, reserve_num, recommend, joinid, 
    checkStatus, abbot, abbotresume, opentime, createtime, mobile
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.one.clxj.pojo.ClxjmainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clxjmain
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="currPage != null and limit != null">
      limit ${currPage},${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clxjmain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clxjmain
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.one.clxj.pojo.Clxjmain" >
    insert into clxjmain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type1 != null" >
        type1,
      </if>
      <if test="type2 != null" >
        type2,
      </if>
      <if test="belong_city != null" >
        belong_city,
      </if>
      <if test="first_img_big != null" >
        first_img_big,
      </if>
      <if test="first_img_min != null" >
        first_img_min,
      </if>
      <if test="carousel_img != null" >
        carousel_img,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="reserve_num != null" >
        reserve_num,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="adminuser != null" >
        joinid,
      </if>
      <if test="checkStatus != null" >
        checkStatus,
      </if>
      <if test="abbot != null" >
        abbot,
      </if>
      <if test="abbotresume != null" >
        abbotresume,
      </if>
      <if test="opentime != null" >
        opentime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type1 != null" >
        #{type1,jdbcType=INTEGER},
      </if>
      <if test="type2 != null" >
        #{type2,jdbcType=INTEGER},
      </if>
      <if test="belong_city != null" >
        #{belong_city,jdbcType=VARCHAR},
      </if>
      <if test="first_img_big != null" >
        #{first_img_big,jdbcType=VARCHAR},
      </if>
      <if test="first_img_min != null" >
        #{first_img_min,jdbcType=VARCHAR},
      </if>
      <if test="carousel_img != null" >
        #{carousel_img,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="reserve_num != null" >
        #{reserve_num,jdbcType=INTEGER},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="adminuser != null" >
        #{adminuser.id,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="abbot != null" >
        #{abbot,jdbcType=VARCHAR},
      </if>
      <if test="abbotresume != null" >
        #{abbotresume,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        #{opentime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.one.clxj.pojo.ClxjmainExample" resultType="java.lang.Integer" >
    select count(*) from clxjmain
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.one.clxj.pojo.Clxjmain" >
    update clxjmain
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type1 != null" >
        type1 = #{type1,jdbcType=INTEGER},
      </if>
      <if test="type2 != null" >
        type2 = #{type2,jdbcType=INTEGER},
      </if>
      <if test="belong_city != null" >
        belong_city = #{belong_city,jdbcType=VARCHAR},
      </if>
      <if test="first_img_big != null" >
        first_img_big = #{first_img_big,jdbcType=VARCHAR},
      </if>
      <if test="first_img_min != null" >
        first_img_min = #{first_img_min,jdbcType=VARCHAR},
      </if>
      <if test="carousel_img != null" >
        carousel_img = #{carousel_img,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="reserve_num != null" >
        reserve_num = #{reserve_num,jdbcType=INTEGER},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="adminuser != null" >
        joinid = #{adminuser.id,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null" >
        checkStatus = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="abbot != null" >
        abbot = #{abbot,jdbcType=VARCHAR},
      </if>
      <if test="abbotresume != null" >
        abbotresume = #{abbotresume,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        opentime = #{opentime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>