<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.one.clxj.mapper.JoincarMapper" >
  <resultMap id="BaseResultMap" type="com.one.clxj.pojo.Joincar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="theowner" property="theowner" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="carname" property="carname" jdbcType="VARCHAR" />
    <result column="travelnumber" property="travelnumber" jdbcType="VARCHAR" />
    <result column="travelrun" property="travelrun" jdbcType="VARCHAR" />
    <result column="drivername" property="drivername" jdbcType="VARCHAR" />
    <result column="drivernumber" property="drivernumber" jdbcType="VARCHAR" />
    <result column="driverphone" property="driverphone" jdbcType="VARCHAR" />
    <result column="insurancename" property="insurancename" jdbcType="VARCHAR" />
    <result column="insurancenumber" property="insurancenumber" jdbcType="VARCHAR" />
    <result column="insurancephone" property="insurancephone" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <!--<result column="uid" property="reguser.id" jdbcType="INTEGER" />-->
    <result column="jointime" property="jointime" jdbcType="VARCHAR" />
    <result column="joinstatus" property="joinstatus" jdbcType="INTEGER" />
    <result column="fileurl" property="fileurl" jdbcType="VARCHAR" />
    <association property="reguser" column="uid" select="com.one.clxj.mapper.ReguserMapper.selectByPrimaryKey2"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, theowner, idcard, address, carname, travelnumber, travelrun, drivername, drivernumber, 
    driverphone, insurancename, insurancenumber, insurancephone, message, uid, jointime, 
    joinstatus, fileurl
  </sql>
  <select id="selectByExample2" resultMap="BaseResultMap" parameterType="com.one.clxj.pojo.JoincarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from joincar
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="currPage != null and limit != null">
      limit ${currPage},${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey2" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from joincar
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="countByExample" parameterType="com.one.clxj.pojo.JoincarExample" resultType="java.lang.Integer" >
    select count(*) from joincar
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

</mapper>